/* || RESET || */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || Variable || */
:root {
  /* color */
  --BG: black;
  --Font-color: white;
  --LIGHT: #6a5d82;
  --LIGHT-HOVER: #866eae;
  --PURPLE:/*  #4b5efc */ #894bfc;
  --PURPLE-HOVER: /* #798bf9 */ #9c7ed5;
  --DARK: #2e2f38 ;
  --DARK-HOVER: #505266;

}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: var(--BG);
  color: var(--Font-color);
}

section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  font-size: 40px;
  font-weight: 300;
}

#output {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}

.btn {
  flex-basis: calc(25% - 10px);
  margin: 5px;
  font-size: 32px;
  height: 72px;
  border: 0;
  cursor: pointer;
  color: var(--Font-color);
  border-radius: 40px;
}

.light,
.light:focus {
  background-color: var(--LIGHT);
}

.light:hover {
  background-color: var(--LIGHT-HOVER);
}

.dark,
.dark:focus {
  background-color: var(--DARK);
  
}

.dark:hover {
  background-color: var(--PURPLE-HOVER);
}

.purple,
.purple:focus {
  background-color: var(--PURPLE);
}

.purple:hover {
  background-color: var(--PURPLE-HOVER);
}